.addInfo {
  text-align: center;

  .listAddInfo {
    display: flex;
    justify-content: center;

    margin: 20px;
  }

  .NavLink {
    padding: 10px 30px;
    width: 110px;
    color: rgb(53, 34, 16);
    border-radius: 8px;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: #ffffff;
      box-shadow: inset 2px 4px 18px 1px rgba(53, 34, 16, 0.38);
    }
  }

  .NavLinkActive {
    background-color: #ae8026;
    color: #ffffff;
  }
}

.goBackBtn {
  margin: 0 20px;
  padding: 10px 30px;

  background-color: #ae8026;
  color: #ffffff;
  border-radius: 8px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: none;
  outline: none;

  &:hover,
  &:focus {
    background-color: #000000;
    color: rgb(204, 179, 122);
    box-shadow: inset 2px 4px 18px 1px rgba(243, 224, 185, 0.38);
  }
}
