.Cast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: -20px;

  .castItem {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px 10px;
    text-align: center;

    width: 240px;
    height: 490px;

    border-radius: 8px;
    box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.38);
  }
  .castName {
    margin-bottom: 10px;
  }
  img {
    margin-bottom: 10px;
    border-radius: 8px;

    height: 330px;
    object-fit: cover;
  }
}
