.Container {
  // max-width: 1170px;

  margin-left: auto;
  margin-right: auto;

  padding: 30px;

  // @media screen and (max-width: 768px) {
  // }

  // @media screen and (max-width: 420px) {
  // }
}
