.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: -15px;

  .MovieItem {
    margin: 15px;
    height: 396px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 20px;

      width: 280px;
      height: 100%;

      // background-color: rgb(111, 91, 66);

      background-image: linear-gradient(
        120deg,
        rgba(204, 179, 122, 0.7) 0%,
        rgba(53, 34, 16, 0.7) 100%
      );

      border-radius: 8px;
      box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.38);

      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background-color: rgb(174, 128, 38);

        outline: none;
      }
    }
  }
}
