.Navigation {
  display: flex;
  padding: 20px 50px;
  background-color: #000000;
  color: white;

  @media screen and (max-width: 586px) {
    justify-content: center;
  }

  .NavLink {
    padding: 10px 30px;
    width: 110px;
    color: white;
    border-radius: 8px;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: rgb(204, 179, 122);
      box-shadow: inset 2px 4px 18px 1px rgba(243, 224, 185, 0.38);
    }
  }

  .NavLinkActive {
    background-color: #ae8026;

    &:hover {
      color: #000000;
      box-shadow: inset 2px 4px 18px 1px rgba(0, 0, 0, 0.38);
    }
  }
}
