body {
  background-color: rgb(204, 179, 122);
  color: rgb(53, 34, 16);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

ul {
  list-style: none;
}

a {
  display: block;
  font-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
